<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<section id="header" class="header-top">
  <div id="header" class="navbar navbar-default" role="navigation">
    <div>       
            
                <a _ngcontent-c1 aria-label="DeBaser" class="docs-button mat-button" mat-button tabindex="0" aria-disabled="false" href="http://localhost:4200/home">
                    <span class="mat-button-wrapper">
                        <mat-icon>home</mat-icon>
                    </span>
                    <div class="mat-button-ripple mat-ripple" matripple></div>
                    <div class="mat-button-focus-overlay"></div>
                </a>
            
    </div>
  </div>
</section>

<body class="Site">
    <main class="Site-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-18">
                    <div class="well" [ngStyle]="{'background-color': '#FFFFFF', 'border': '1px solid green'}">
                        <div class="margin-20">
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>